[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group plugins-code-owners
[access "refs/heads/*"]
	label-Verified = -1..+1 group gerrit-trusted-contributors
[project]
	description = The code-owners plugin provides support for defining code owners for files in a repository. \n\nIf the code-owners plugin is enabled, changes can only be submitted if all touched files are covered by approvals from code owners.
