[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[label "Verified"]
[project]
	description = The code-owners provides support for defining code owners for files in a repository. \n\nIf the code-owners plugin is enabled, changes can only be submitted if all touched files are covered by approvals from code owners.
